<div id="<%= dom_id todo_list %>">  
  <tr>
    <td><%= todo_list.title %></td>
    <td><%= todo_list.description %></td>
    <td><%= todo_list.text %></td>
    <td><%= link_to "Show", todo_list %></td>
  </tr>  
</div>
